* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0f1624;
  color: hsl(204, 23.8%, 95.9%);
  font-family: sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
